# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Credentials
/lib/controller/database/credentials.dart


# Image credits
# Arara - Imagem de christian-mts0 por Pixabay
# What? - Confused stickers created by Stickers - Flaticon
# sad-girl - Sad stickers created by kerismaker - Flaticon (Modificado por Caio Luppo)
# Todas as imagens e logos do BioReino - Caio Luppo Ribeiro